<div id="product_1" class="paddingtmtc">
    <ul class="list-group">
        <!-- A boucler pour le nombre de catégories -->
        <div ng-repeat="i in [0,1,2]"> <!-- Ca marche pas :( -->
            <li class="list-group-item list-group-item-dark">
                Pack Soirée
            </li>

            <li class="list-group-item font-weight-bold">
                <div class="row">
                    <div class="col-4">
                        Type
                    </div>
                    <div class="col-4">
                        Prix
                    </div>
                    <div class="col-4">
                        Quantité
                    </div>
                </div>
            </li>
            <!-- A boucler pour le nombre de produits dans une catégorie -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Soirée
                    </div>
                    <div class="col-4">
                        36 €
                    </div>
                    <div class="col-4">
                        <select class="form-control">
                            <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                        </select>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Cocktail Dînatoire
                    </div>
                    <div class="col-4">
                        50 €
                    </div>
                    <div class="col-4">
                        <select class="form-control" (change)="checkAmount(product)">
                            <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                        </select>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Pack dînner
                    </div>
                    <div class="col-4">
                        70 €
                    </div>
                    <div class="col-4">
                        <select class="form-control">
                            <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                        </select>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>
<div id="product_2" class="paddingtmtc">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            PACK NUITEE
        <li class="list-group-item font-weight-bold">
            <div class="row">

                <div class="col-4">
                    Type
                </div>
                <div class="col-4">
                    Prix
                </div>
                <div class="col-4">
                    Quantité
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    1 Personne
                </div>
                <div class="col-4">
                    170 €
                </div>
                <div class="col-4">
                    <select class="form-control">
                        <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    2 Personnes
                </div>
                <div class="col-4">
                    250 €
                </div>
                <div class="col-4">
                    <select class="form-control">
                        <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                    </select>
                </div>
            </div>
        </li>
    </ul>

</div>
<div id="product_3" class="paddingtmtc">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            PACK WEEKEND
        <li class="list-group-item font-weight-bold">
            <div class="row">

                <div class="col-4">
                    Type
                </div>
                <div class="col-4">
                    Prix
                </div>
                <div class="col-4">
                    Quantité
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    1 Personne
                </div>
                <div class="col-4">
                    230 €
                </div>
                <div class="col-4">
                    <select class="form-control">
                        <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    2 Personnes
                </div>
                <div class="col-4">
                    330 €
                </div>
                <div class="col-4">
                    <select class="form-control">
                        <option *ngFor="let i of [0,1,2,3,4,5]">{{i}}</option>
                    </select>
                </div>
            </div>
        </li>
    </ul>
</div>

