
  category works!
<div id="product_1" class="paddingtmtc">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">
      PACK SOIREE

    <li class="list-group-item font-weight-bold">
      <div class="row">

        <div class="col-4">
          Type
        </div>
        <div class="col-4">
          Prix
        </div>
        <div class="col-4">
          Quantité
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          Soirée
        </div>
        <div class="col-4">
          36 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          Cocktail Dînatoire
        </div>
        <div class="col-4">
          50 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          Pack dînner
        </div>
        <div class="col-4">
          70 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="product_2" class="paddingtmtc">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">
      PACK NUITEE
    <li class="list-group-item font-weight-bold">
      <div class="row">

        <div class="col-4">
          Type
        </div>
        <div class="col-4">
          Prix
        </div>
        <div class="col-4">
          Quantité
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          1 Personne
        </div>
        <div class="col-4">
          170 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          2 Personnes
        </div>
        <div class="col-4">
          250 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
  </ul>

</div>
<div id="product_3" class="paddingtmtc">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">
      PACK WEEKEND
    <li class="list-group-item font-weight-bold">
      <div class="row">

        <div class="col-4">
          Type
        </div>
        <div class="col-4">
          Prix
        </div>
        <div class="col-4">
          Quantité
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          1 Personne
        </div>
        <div class="col-4">
          230 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          2 Personnes
        </div>
        <div class="col-4">
          330 €
        </div>
        <div class="col-4">
          <select class="form-control">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </li>
  </ul>
</div>

