<div id="event" class="panel panel-default">
  <div class="panel-heading" id="titre_event">
    <h3>Gala XXII - INSA Lyon</h3>
  </div>
  <div class="panel-body">
    <h5>L'évènement :</h5>
    <p id="date">
      <i class="fa fa-calendar"></i> 11/02/2018<br>
      <i class="fa fa-clock-o"></i> 19h30 à 23h
    </p>
    <div id="localisation">
      <h5><i class="fa fa-map-marker"></i> La Sucrière</h5>
      &nbsp; &nbsp; 49-50 Quai Rambaud
      <br>&nbsp; &nbsp; 69002 Lyon
    </div>
    <p id="site">
      <i class="fa fa-globe"></i> <a href="gala.bde-insa-lyon.fr">gala.bde-insa-lyon.fr</a>
    </p>
    <div id="carte">
      <iframe width="100%" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAHbywGkYMC2TUNDiDc7do8xqtyTclLD8&amp;q=50%2C+quai+Rambaud%2C69002+LYON" ></iframe>
    </div>
  </div>

</div>