<div class="container">
  <div id="topbar" class="jumbotron-top">
    <h1><img src="http://logos.bde-insa-lyon.fr/bde/bde_70px.png" height="50" width="40"> Billevent</h1>
  </div>
  <div class="row">
    <div class="col-4">
      <div id="event" class="panel panel-default">
        <div class="panel-heading" id="titre_event">
          <h3>Gala XXII - INSA Lyon</h3>
        </div>
        <div class="panel-body">
          <h5>L'évènement :</h5>
          <p id="date">
            <i class="fa fa-calendar"></i> 11/02/2018<br>
            <i class="fa fa-clock-o"></i> 19h30 à 23h
          </p>
          <div id="localisation">
          <h5><i class="fa fa-map-marker"></i> La Sucrière</h5>
          &nbsp; &nbsp; 49-50 Quai Rambaud
          <br>&nbsp; &nbsp; 69002 Lyon
          </div>
          <p id="site">
            <i class="fa fa-globe"></i> <a href="gala.bde-insa-lyon.fr">gala.bde-insa-lyon.fr</a>
          </p>
          <div id="carte">
            <iframe width="100%" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAHbywGkYMC2TUNDiDc7do8xqtyTclLD8&amp;q=50%2C+quai+Rambaud%2C69002+LYON" ></iframe>
          </div>
        </div>

      </div>
      <div id="contact">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Contact Organisateur</h3></div>
          <div class="panel-body"><p id="orga">
            <i class="fa fa-user"></i> BdE INSA Lyon
          </p>
            <p id="adress">
              <i class="fa fa-map-marker"></i> Thélème
              <br>&nbsp; &nbsp;18 Avenue des Arts
              <br>&nbsp; &nbsp;69100 Villeurbanne
            </p>
            <p id="contatOrga">
              <i class="fa fa-phone"></i> <a href="tel:+33472434914">04 72 43 49 14</a><br>
              <i class="fa fa-envelope"></i> <a href="mailto:contact@bde-insa-lyon.fr">contact@bde-insa-lyon.fr</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div id="billeterie" class="jumbotron-main">
        <div id="products">
          <div id="product_1" class="paddingtmtc">
            <ul class="list-group">
              <li class="list-group-item list-group-item-dark">
                PACK SOIREE

              <li class="list-group-item font-weight-bold">
                <div class="row">

                  <div class="col-4">
                    Type
                  </div>
                  <div class="col-4">
                    Prix
                  </div>
                  <div class="col-4">
                    Quantité
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    Soirée
                  </div>
                  <div class="col-4">
                    36 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    Cocktail Dînatoire
                  </div>
                  <div class="col-4">
                    50 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    Pack dînner
                  </div>
                  <div class="col-4">
                    70 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="product_2" class="paddingtmtc">
            <ul class="list-group">
              <li class="list-group-item list-group-item-dark">
                PACK NUITEE
              <li class="list-group-item font-weight-bold">
                <div class="row">

                  <div class="col-4">
                    Type
                  </div>
                  <div class="col-4">
                    Prix
                  </div>
                  <div class="col-4">
                    Quantité
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    1 Personne
                  </div>
                  <div class="col-4">
                    170 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    2 Personnes
                  </div>
                  <div class="col-4">
                    250 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
            </ul>

          </div>
          <div id="product_3" class="paddingtmtc">
            <ul class="list-group">
              <li class="list-group-item list-group-item-dark">
                PACK WEEKEND
              <li class="list-group-item font-weight-bold">
                <div class="row">

                  <div class="col-4">
                    Type
                  </div>
                  <div class="col-4">
                    Prix
                  </div>
                  <div class="col-4">
                    Quantité
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    1 Personne
                  </div>
                  <div class="col-4">
                    230 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-4">
                    2 Personnes
                  </div>
                  <div class="col-4">
                    330 €
                  </div>
                  <div class="col-4">
                    <select class="form-control">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div id="next" align="right" class="paddingbtn">
          <button type="button" class="btn btn-primary">Suivant</button>
        </div>
      </div>
    </div>
  </div>

</div>