<div id="billeterie" class="ml-3 mr-3">
    <div class="loader" *ngIf="loading">
        <div class="loadingAnimation">
            <spinner></spinner>
            <h2>Chargement ...</h2>
        </div>
    </div>
    <div class="shop" *ngIf="!loading">
        <div *ngIf="order.state === 0 || order.state <= 2" id="category">
            <app-categories [order]="order"></app-categories>
        </div>
        <div *ngIf="order.state === 3" id="questions">
            <app-questions [order]="order"></app-questions>
        </div>
        <div *ngIf="order.state === 4" id="payment">
            <app-payment [order]="order"></app-payment>
        </div>
        <div id="next" align="right" class="paddingbtn">
            <button type="button" *ngIf="canBack()" class="btn btn-primary" (click)="back()">Retour</button>
            <button type="button" *ngIf="canNext()" class="btn btn-primary" (click)="next()">Suivant</button>
        </div>
    </div>
</div>