<div id="billeterie" class="jumbotron-main">
  <div *ngIf="step === 0" id="category" >
    <app-categories [order] = "order"></app-categories>
  </div>
  <div *ngIf="step === 1" id="confirmation">
    <app-confirmation></app-confirmation>
  </div>
  <div *ngIf="step === 2" id="payment">
    <app-payment></app-payment>
  </div>
  <div id="next" align="right" class="paddingbtn">
    <button type="button" *ngIf="step>0" class="btn btn-primary" (click)="step = step - 1">Retour</button> <button type="button" *ngIf="step<2" class="btn btn-primary" (click)="step = step + 1">Suivant</button>
  </div>
</div>