<div id="billeterie" class="ml-3 mr-3 mb-4">
    <div class="loader" *ngIf="loading">
        <div class="loadingAnimation">
            <spinner></spinner>
            <h2>Chargement ...</h2>
        </div>
    </div>
    <div class="shop" *ngIf="!loading">
        <div *ngIf="order.state <= 1" id="category">
            <app-categories [order]="order"></app-categories>
        </div>
        <div *ngIf="order.state === 2 || order.state === 3" id="questions">
            <app-questions [order]="order"></app-questions>
        </div>
        <div *ngIf="order.state === 4" id="options-select">
            <app-options [order]="order"></app-options>
        </div>
        <div *ngIf="order.state === 5" id="payment">
            <app-payment [order]="order"></app-payment>
        </div>
    </div>
</div>