<div id="invitation-welcome">
  <div *ngIf="state === 'loading'">
    <div class="loadingAnimation">

      <spinner></spinner>
      <h2>Chargement de votre espace ...</h2>
    </div>

  </div>
  <div *ngIf="state === 'failed'">
    <div class="message">
      <h1>Erreur</h1>
      <div class="text-danger">Impossible de trouver l'invitation correspondante sur le serveur</div>
    </div>

  </div>
  <div *ngIf="state === 'success'">
      <div class="message">
        <h1>Bienvenue {{invitation.client.first_name + " " + invitation.client.last_name}}</h1>
        <a [routerLink]="'/billetterie/' + invitation.event.id" class="btn btn-primary">Entrez dans la billetterie</a>
      </div>
  </div>
</div>
