<div id="contact">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Contact Organisateur</h3></div>
    <div class="panel-body"><p id="orga">
      <i class="fa fa-user"></i> BdE INSA Lyon
    </p>
      <p id="adress">
        <i class="fa fa-map-marker"></i> Thélème
        <br>&nbsp; &nbsp;18 Avenue des Arts
        <br>&nbsp; &nbsp;69100 Villeurbanne
      </p>
      <p id="contatOrga">
        <i class="fa fa-phone"></i> <a href="tel:+33472434914">04 72 43 49 14</a><br>
        <i class="fa fa-envelope"></i> <a href="mailto:contact@bde-insa-lyon.fr">contact@bde-insa-lyon.fr</a>
      </p>
    </div>
  </div>
</div>